# -*- shell-script -*-

################################################################################
#-- RULES --
################################################################################

+rule --new run-page
--progs /^ls/ uname df

+rule --new run-term
--progs htop watch screen

+rule --new su-run 
--progs /^emacs /etc//

################################################################################
#-- HANDLERS -- 
################################################################################

##-- google --##################################################################

+handler --new "google"
--string '$BROWSER www.google.com/search?q=\"%1\"'
--pattern '^gg:(.+)'

##-- manual --##################################################################

+handler --new "manual"
--pattern '(.+)\?' 
--string "xterm -e 'man %1'"

################################################################################
##-- ACTIONS --
################################################################################

# default actions (bind only)

+action pass --bind '\ew'
+action debug --bind '\e[24~'

##-- run -- ####################################################################

+action --new 'run'
--desc 'Run command'
--type 'trap-and-launch'
--bind '\e\C-m'

action-run () 
{ 
    ! executable? && +handlers
    +rules
    return 0
}

##-- run-term -- ###############################################################

+action --new 'run-term'
--desc 'Run command in terminal'
--type 'trap-and-launch'
--bind '\et'

action-run-term () 
{ 
    ! executable? && +handlers
    +terminal
    return 0
}

+action --new 'run-page'
--desc 'Run command in terminal and page'
--type 'trap-and-launch'
--bind '\e+'

action-run-page () 
{ 
    ! executable? && +handlers
    +pager
    +terminal
    return 0
}

+action --new 'run-hold'
--desc 'Run command in terminal and hold'
--type 'trap-and-launch'
--bind '\eh'

action-run-hold () 
{ 
    ! executable? && +handlers
    command "($(command)); read -n1"
    +terminal;
    return 0
}


##-- su-run- --#################################################################

+action --new 'su-run'
--desc 'Run command as root'
--type 'trap-and-launch'
--bind '\esu'

action-su-run () 
{ 
    action-run
    +user root;
    return 0
}

##-- su-run-term --#############################################################

+action --new 'su-run-term'
--desc 'Run command in terminal as root'
--type 'trap-and-launch'
--bind '\es\C-m'

action-su-run-term () 
{ 
    action-run-term    
    +user root;
    return 0
}

