# -*- shell-script -*-

################################################################################
#-- RULES --
################################################################################

+rule --new run-page
--progs /^ls/ uname df

+rule --new run-term
--progs htop watch screen

+rule --new su-run 
--progs /^emacs /etc//

################################################################################
#-- HANDLERS -- 
################################################################################

##-- google --##################################################################

+handler --new "google"
--string '$BROWSER www.google.com/search?q=\"%1\"'
--pattern '^gg:(.+)'

##-- manual --##################################################################

+handler --new "manual"
--pattern '(.+)\?' 
--string "xterm -e 'man %1'"

################################################################################
##-- ACTIONS --
################################################################################

# default actions (bind only)

+action pass --bind '\ew'
+action debug --bind '\e[24~'

##-- run -- ####################################################################

+action --new 'run'
--desc 'Run command'
--type 'trap-and-launch'
--bind '\e\C-m'

action-run () 
{ 
    ! executable? && +handlers
    +rules
    return 0
}

##-- run-term -- ###############################################################

+action --new 'run-term'
--desc 'Run command in terminal'
--type 'trap-and-launch'
--bind '\et'

action-run-term () 
{ 
    ! executable? && +handlers
    +terminal
    return 0
}

+action --new 'run-page'
--desc 'Run command in terminal and page'
--type 'trap-and-launch'
--bind '\e+'

action-run-page () 
{ 
    ! executable? && +handlers
    +pager
    +terminal
    return 0
}

+action --new 'run-hold'
--desc 'Run command in terminal and hold'
--type 'trap-and-launch'
--bind '\eh'

action-run-hold () 
{ 
    ! executable? && +handlers
    command "($(command)); read -n1"
    +terminal;
    return 0
}


##-- su-run- --#################################################################

+action --new 'su-run'
--desc 'Run command as root'
--type 'trap-and-launch'

action-su-run () 
{ 
    action-run
    +user root;
    return 0
}

##-- su-run-term --#############################################################

+action --new 'su-run-term'
--desc 'Run command in terminal as root'
--type 'trap-and-launch'
--bind '\es\C-m'

action-su-run-term () 
{ 
    action-run-term    
    +user root;
    return 0
}

# MODES

+mode --new 'terminal' 
--size 80x24                          # default       
--comp 'complete'                     # default
--bind '\et'

+mode --new 'launcher'                # classic bashrun, default for frontend
--size   '40x1 40x10'                 # multiple sizes: cycleable
--cycle  '\el'                        # cycle through sizes 
--comp   'quiet-complete complete 8'  # comp_type, alt type, treshold 
--bind '\C-l'                         # toggling key
--unmap  '1'                          # unmap after non-shell actions

+mode --new 'kuake'                   # drop-down console
--size  '113 24'                      # adjust to your liking
--pos   '0 0'                         # position: if unset, let wm handle it
--anim  '1'                           # animated?
--delay '0.001'                       # delay
--unmap '1'




