# -*- shell-script -*-
+configure-terminal-modes() {
    
    +mode terminal
      --terminal 'xterm -geometry %g -name bashrun-%m -title bashrun-%m'
      --cmdnfh true

    +mode-terminal-init() {

	+keymap emacs
	+unbind run      '\C-m'
	+unbind run      '\C-j'
	+unbind term-run '\e\C-m'
	+unbind pass     '\ew'
	+unbind quit     '\C-q'
	+unbind abort    '\C-g'

	+bind run '\e\C-m'
	+bind term-run '\et'
    }    
}