# -*- shell-script -*-
+configure-dropdown-modes() {

    +mode dropdown
      --terminal 'xterm -g %g -n bashrun-%m %o -e %*'
      --geometry '113x20+0+0'
      --animated true
      --unmap false
      --cmdnfh true

    +mode-dropdown-init () {

	+keymap emacs
	+unbind run      '\C-m'
	+unbind run      '\C-j'
	+unbind term-run '\e\C-m'
	+unbind pass     '\ew'
	+unbind quit     '\C-q'

	+bind run '\e\C-m'
	+bind term-run '\et'
    }
}
